@font-face {
    font-family: 'CornerDeliT';
    src: url('../font/SiegraRegular-ALg9A.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: CornerDeliT;
    background-image: linear-gradient(to right bottom, #9002ff, #9c34fe, #a74efd, #b163fc, #ba77fa, #9b8dff, #809eff, #71acff, #1ebaff, #00c4f3, #00ccdd, #00d1c2);
}


html,body {
    width: 99.9%;
    height: 100%;
    overflow: hidden;
}

.scene_moldure{
    position: fixed;
    width: 99.9%;
    height: 100%;
    top: 0;
    left: 0;
}

.middle_info {
    position: fixed;
    width: 50vw;
    top: 28%;
    left: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.Icon_image {
    height: 8vw;
}

.Title_Info {
    font-size: 50px;
    color: white;
}

#canvas {
    position: fixed;
    transform: rotate(180deg);
    top: 50%;
    left: 32%;
    z-index: 30;
    width: 35vw;
    height: 10vh;
}

.scene_octagon {
    height: 80%;
    position: fixed;
    top: 5%;
    left: 31%;
    paint-order: stroke;
    animation: octagon_rotate infinite 360s;
}

@keyframes octagon_rotate {
    0%   {
        transform: rotate(360deg)
    }

    25%  {
        transform: rotate(180deg)
    }
    50%  {
        transform: rotate(90deg)
    }
    100% {
        transform: rotate(0deg);

    }
}

.intern_octagon {
    height: 65%;
    position: fixed;
    top: 12.3%;
    left: 34.8%;
    transform: rotate(15deg)
}

.intern_square {
    width: 26vw;
    height: 26vw;
    border: 10px solid white;
    position: fixed;
    top: 16.6%;
    left: 36.4%;
    /*animation: intern_square_rotate infinite 20s;*/
}

@keyframes intern_square_rotate {
    0%   {transform: rotate(0deg)}
    15%  {transform: rotate(40deg)}
    25%  {transform: rotate(90deg)}
    35%  {transform: rotate(130deg)}
    50%  {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
}

.external_squares {
    width: 80vw;
    position: fixed;
    top: 40vh;
    left: 9.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: external_squares_rotate infinite 50s;
}

@keyframes external_squares_rotate {
    0%   {transform: rotate(0deg)}
    100%  {transform: rotate(360deg)}
}

.line_100 {
    width: 90%;
}

.line_100 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0; padding: 0;
}

.square_45 {
    width: 2vw;
    height: 2vw;
    border: 3px solid white;
    transform: rotate(45deg)
}

.square_45_expand {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    animation: external_square_45_expand infinite 10s;
}

@keyframes external_square_45_expand {
    0%{
        top: 0%;
        left: 0%;
        width: 2vw;
        height: 2vw
    }
    50% {
        top: -200%;
        left: -200%;
        width: 10vw;
        height: 10vw;
    }
    100% {
        top: 0%;
        left: 0%;
        width: 2vw;
        height: 2vw;
    }
}

/* Scene Pluss painels */
.pluss_painel_left_top {
    display: flex;
    width: 7vw;
    height: 2vh;
    position: absolute;
    flex-wrap: wrap;
    top: 5%;
    left: 12%;
}

.pluss_painel_left_top .pluss {
    width: 26%;
}

.pluss_painel_left_bottom {
    display: flex;
    width: 10vw;
    height: 10vh;
    position: absolute;
    flex-wrap: wrap;
    top: 40%;
    left: 10%;
}

.pluss_painel_left_bottom .pluss {
    width: 35%;
}

.pluss_painel_middle_bottom {
    z-index: 20;
    display: flex;
    width: 7vw;
    height: 5vh;
    position: absolute;
    flex-wrap: wrap;
    top: 70%;
    left: 49.8%;
}

.pluss_painel_middle_bottom .pluss {
    width: 30%;
}

.pluss_painel_right_top {
    display: flex;
    width: 5vw;
    height: 5vh;
    position: absolute;
    flex-wrap: wrap;
    top: 10%;
    left: 63.3%;
}
.pluss_painel_right_top .pluss{
    width: 20%;
}

.pluss_painel_right_botton {

    display: flex;
    width: 10vw;
    height: 5vh;
    position: absolute;
    flex-wrap: wrap;
    top: 75%;
    left: 70.3%;
}

.pluss_painel_right_botton .pluss{
    width: 20%;
}

.pluss_rotate {
    animation: pluss_rotate_animation 5s;
}

@keyframes pluss_rotate_animation {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(180deg)}
}

.Meganeko {
    position: fixed;
    width: 40vw;
    height: 90vh;
    top: -5%;
    left: 28%;
    z-index: 2;
}